@import "tailwindcss";

body {
  background-color: rgb(240, 240, 240);
  transition: background-color 0.3s ease;
}

.dark body {
  background-color: #110909;
  color: rgb(243, 244, 246);
}

button {
  cursor: pointer;
}

.btn-primary {
  padding: 6px 12px;
  font-weight: 600;
  background: #f87898;
  color: white;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  transform: translateY(-1px);
}

.btn-secondary {
  padding: 5px 12px;
  font-weight: 600;
  border: 1px solid #f87898;
  color: #f87898;
  background: transparent;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  transform: translateY(-1px);
}

.dark .btn-secondary {
  border-color: #f87898;
  color: #f87898;
  background: transparent;
}

nav a {
  transition: all 0.3s ease;
}

nav .active {
  color: #f87898;
}

.navbar {
  box-shadow: 0 0px 20px rgb(230, 230, 230);
  background: white;
  transition: all 0.3s ease;
}

.dark .navbar {
  box-shadow: 0 0px 20px rgb(0, 0, 0, 0.3);
  background: linear-gradient(to right, #110909, #1f1017);
}

.dashboard .active {
  color: #f87898;
  font-weight: 600;
}

.dash-nav a:hover {
  color: black;
}

.dark .dash-nav a:hover {
  color: white;
}

.input {
  @apply w-full border border-gray-300 px-4 py-2 rounded focus:border-none focus:ring-1 focus:ring-[#f87898] outline-none h-fit;
  transition: all 0.3s ease;
}

.dark .input {
  @apply border-gray-600 bg-[#1f1017] text-white;
}

.dark .input::placeholder {
  color: rgb(156, 163, 175);
}

/* loader animation */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #5e5e5e;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #f87898;
  border-left: 4px solid transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.social {
  @apply p-2 rounded-full bg-white/10 hover:bg-[#f87898] transition;
}
